[submodule "pkgs/yabai/yabai"]
	path = pkgs/yabai/yabai
	url = git@github.com:koekeishiya/yabai.git
[submodule "portable/plot"]
	path = portable/plot
	url = git@github.com:Ja-sonYun/plot.git
[submodule "portable/say"]
	path = portable/say
	url = git@github.com:Ja-sonYun/say.git
[submodule "shell/secrets/agenix"]
	path = shell/secrets/agenix
	url = git@github.com:Ja-sonYun/agenix-secrets.git
[submodule "hosts/aarch64-darwin/server"]
	path = hosts/aarch64-darwin/server
	url = git@github.com:Ja-sonYun/server.git
[submodule "portable/vim/dev/lsp"]
	path = portable/vim/dev/lsp
	url = git@github.com:Ja-sonYun/lsp.git
